@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" />
            <RadzenLabel Text="Library Management" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" Style="width: max-content">
        <RadzenPanelMenu DisplayStyle="@(_sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)" ShowArrow="false">
            <RadzenPanelMenuItem Text="Overview" Icon="home" />
            <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" />
            <RadzenPanelMenuItem Text="Books" Path="books" />
            <RadzenPanelMenuItem Text="Lenders" Path="lenders" />
            <RadzenPanelMenuItem Text="Loans" Path="loans" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            <RadzenDialog />
            <RadzenNotification />
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <RadzenFooter>
            <div style="width:100%;display:flex;align-items:center;justify-content:center;">
            Luhl.Inc &nbsp;© @DateTime.Now.Year&nbsp;-&nbsp; Library Management. All rights reserved.
            </div>
        </RadzenFooter>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool _sidebarExpanded = true;
}